<br>
  <div class="container">
    <% if @teams.empty? %>
     <p> Vous n'avez pas de plages prévues.</p>
    <% else %>
      <%= render 'shared/cardmyteams', team: @teams %>
    <% end %>
  </div>
<br>
