<br>
  <div class="container">
    <% if @teams.nil? %>
      <p>Vous n'avez pas de plages prévues</p>
    <% else %>
      <%= render 'shared/cardmyteams', team: @teams %>
    <% end %>
  </div>
<br>
