<br>
  <div class="container">
    <% if @user_program_for_the_next_7_days.empty? %>
      <div class="row justify-center">
        <p>Vous n'avez pas de plages prévues dans les 7 prochains jours</p>
      </div>
    <% else %>
      <div class="row justify-center">
        <p>Programme des 7 prochains jours</p>
      </div>
      <%= render 'shared/cardmyteams', team: @user_program_for_the_next_7_days %>
    <% end %>
  </div>
<br>
