<br>
  <div class="container">
    <h1 class="text-center">Planning</h1>

    <%= render 'shared/cardsdate', dates: @dates %>

    <% if policy(@season).update? %>
        <%= link_to raw('<button type="button" class="btn btn-secondary">Modifier les dates</button>'), edit_season_path(@season) %>
      <% end %>
      <% if policy(@season).destroy? %>
         <button type="button" id="sweet-alert-season" class="btn btn-danger">Supprimer la saison</button>
         <%= link_to "", season_path(@season), method: :delete, id: "delete-link", class: "hidden-style" %>
      <% end %>


  </div>
<br>
