<br>
  <div class="container">
    <h1 class="text-center">Planning</h1>

    <%= render 'shared/cardsdate', dates: @dates %>

    <% if policy(@season).update? %>
        <%= link_to raw('<button type="button" class="btn btn-secondary">Modifier les dates</button>'), edit_season_path(@season) %>
      <% end %>

  </div>
<br>
