<br>
  <div class="container">
     <div class="row justify-center">
        <h2>Liste des sauveteurs:</h2>
      </div>
    <%= render 'shared/cardslifeguard', lifeguards: @lifeguards %>
  </div>
<br>
