<br>
  <div class="container">
    <h1>Nom:</h1>
    <h2><%= @lifeguard.firstname %></h2>
    <h1>Prénom:</h1>
    <h2><%= @lifeguard.lastname %></h2>
    <br>
    <h1>Contact:</h1>
    <h2><%= @lifeguard.email %></h2>
    <h2><%= @lifeguard.mobile %></h2>
  </div>
<br>
