<div class="row">
  <% @seasons.each do |season| %>
    <div class="col-xs-12 col-md-4">
      <div class="card-date" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1506784365847-bbad939e9335?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')">
      <%= link_to("", season_path(season.id), class:"card-link")  %>
       <div>
        <h3><%= season.name %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
