<div class="footer">
  <div class="footer-links">
        <a href="https://github.com/NicoEym/rails-plages/"><i class="fab fa-github"></i></a>

  </div>
  <div class="footer-copyright">
    <a href="http://plages.sdis06.fr/">Plage SDIS 06</a>
  </div>
</div>
