<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1588608544848-dc9a2f9b7411?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);">
  <div class="container-home">
    <div id="landing-page-form" class="col-xs-9 col-md-6">
      <h1>Surveillance des plages Menton - RCM</h1>
      <p >Planning online des plages</p>


        <div>
          <div class="button-box">
            <%= link_to("Se connecter", new_user_session_path, class:"btn-outline")  %>
          </div >
          <div class="button-box">
            <%= link_to("S'inscrire", new_user_registration_path, class:"btn-outline")  %>
          </div>
        </div>


    </div>
  </div>
</div>
