.navbar-lewagon {
  justify-content: space-between;
  background-color: #DC602E;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand i {
  width: 80px;
  color: white;
}


.navbar-lewagon img {
  height: 3em;
  color: white;
}

.navbar-lewagon .image-box {
  display: flex;
}
