<br>
  <div class="container">
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>


    <% if policy(@beach).new? %>
      <%= link_to raw('<button type="button" class="btn btn-primary">Créer une nouvelle plage</button>'), new_beach_path(@beach) %>
    <% end %>


    <%= render 'shared/cardbeaches', beach: @beaches %>
  </div>
<br>
